div.ref-index {

}

td.grille {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center ;
    height:2.5cm ;
    background: #eebbee ;
    width:3.5cm ;
    font-family: "Times New Roman", Times, serif;
    font-size:1cm;
}
table.grille{
    width: 100%;
    table-layout:fixed ;
    empty-cells:hide ;
} 

div.lyrics {
    font-family: "Times New Roman", Times, serif;
    font-size:1cm;
    background: #ffffff ;
}

div.titre {
    text-align: center ;
    border: 3px dotted black ;
    font-family: "Times New Roman", Times, serif;
    font-size:2cm;
    background: #aaffff ;
}
div.auteur {
    font-family: "Times New Roman", Times, serif;
    font-size:2cm;
    background: #aaffaa ;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color:hotpink ;
}

span.index-titre-0 {
    font-family: "Times New Roman", Times, serif;
    font-size:2cm; 
    background: azure ;
}
span.index-auteur-0 {
    font-family: "Times New Roman", Times, serif;
    font-size:1cm;
    background: azure ;

}

span.index-titre-1 {
    font-family: "Times New Roman", Times, serif;
    font-size:2cm; 
    background: PeachPuff;
}
span.index-auteur-1 {
    font-family: "Times New Roman", Times, serif;
    font-size:1cm;
    background:PeachPuff ;

}

span.remarque {
    font-family: "Times New Roman", Times, serif;
    background:plum ;
    foreground:black ;
    font-style:italic ;
}

div.index-entry-0 {
    text-align: left ;
}

div.index-entry-1 {
    text-align: left ;
}

div.nouvelle-initiale {
    foreground: blue ;
    font-family: "Times New Roman", Times, serif;
    font-size:3cm;
    background:white ;
}

div.index-letters {
    font-family: "Times New Roman", Times, serif;
    font-size:1cm;
    background:PeachPuff ;
}
div.index-books {
    font-family: "Times New Roman", Times, serif;
    font-size:1cm;
    background:PeachPuff ;
}