/*
@media print {
body {-webkit-print-color-adjust: exact;}
}
*/

body {
  width: auto;
  margin: auto;
  font-family: serif;
  font-size: 12pt;
/*  background-color: #ffa; */
  color: #000;
}


#page {
  margin :0;
  border :none;
}

#banner, #menuright, #footer { /* Les éléments qui ne seront pas affichés  */
  display :none;
}

div.mp3 {
    display:none ;
}

div.lyrics {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    font-family: "Times New Roman", Times, serif;
    font-size:0.3cm;
    background: #ffffff ;
    foreground: red ;
/*    background-color: #eebbee ;*/
}

td.grille {
    border: 1px solid black;
/*    border-color: red ;*/
    border-collapse: collapse;
    text-align: center ;
    height:0.5cm ;
    background: #eebbee ;
    width:2cm ;
    font-family: "Times New Roman", Times, serif;
    font-size:0.3cm ;
}
table.grille{
    width: 100%;
    table-layout:fixed ;
    empty-cells:hide ;
} 


div.titre {
    font-family: "Times New Roman", Times, serif;
    font-size:1cm;
    background: #aaffff ;
}
div.auteur {
    font-family: "Times New Roman", Times, serif;
    font-size:1cm;
    background: #aaffaa ;
}

a:link {
    text-decoration: none;
}

