/*
@media print {
body {-webkit-print-color-adjust: exact;}
}
*/

body {
  width: auto;
  margin: auto;
  font-family: serif;
  font-size: 14pt;
/*  background-color: #ffa; */
  color: #000;
}


#page {
  margin :0;
  border :none;
}

#banner, #menuright, #footer { /* Les éléments qui ne seront pas affichés  */
  display :none;
}

div.mp3 {
    display:none ;
}

div.grille {
    border: 1px dotted red ;
}

div.lyrics {
    margin:0 0 0 0 ;
    padding:0 0 0 0 ;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-rule: 4px outset #ff00ff; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset #ff00ff; /* Firefox */
    column-rule: 4px outset #ff00ff;

    font-family: "Times New Roman", Times, serif;
    background: #ffffff ;
    foreground: red ;
/*    border: 2px solid black ; */

    orphans:10 ;
    widows:10 ;
    page-break-inside:avoid ;
    break-inside:avoid ;
    text-align:left ;
    -webkit-column-break-inside:void ;
    -moz-text-align: left; /* Code for Firefox */
    text-align:left;
    -moz-text-align-last: right; /* Code for Firefox */
    text-align-last:right;
}

p.lyrics {
    margin:0 0 0 0 ;
    padding:0 0 0 0 ;
    color:black ;
    orphans:10 ;
    widows:10 ;
    border:1px dotted black ;
    page-break-inside:avoid ;
    break-inside:avoid ;
    -webkit-column-break-inside:void ;
}

td.grille {
    border: 1px solid black;
/*    border-color: red ;*/
    border-collapse: collapse;
    text-align: center ;
    height:0.5cm ;
    background: #eebbee ;
    width:2cm ;
    font-family: "Times New Roman", Times, serif;
}
table.grille{
    width: 100%;
    table-layout:fixed ;
    empty-cells:hide ;
} 

div.titre-auteur {
    font-family: "Times New Roman", Times, serif;
    border: 1px dotted black ;
    text-align:center ;
    background: #aaffff ;
    font-size:24pt ;
}

/*
div.titre {
    font-family: "Times New Roman", Times, serif;
    border: 1px dotted black ;
    text-align:center ;
    font-size:1cm;
    background: #aaffff ;
}
div.auteur {
    font-family: "Times New Roman", Times, serif;
    font-size:1cm;
    background: #aaffaa ;
}
*/

a:link {
    text-decoration: none;
}


span.remarque {
    font-family: "Times New Roman", Times, serif;
    background:#b2beb5 ; /* ashgrey */
    foreground:black ;
    font-style:italic ;
    text-align:left ;
    -moz-text-align-last: left; /* Code for Firefox */
    text-align-last:left;
}


div.tablature {
    white-space: pre ; display: block; unicode-bidi: embed ;
    font-size: 8pt ;
}

span.chord {
    vertical-align:super ;
    color : red ;
    text-shadow: 2px 2px 8px #FF0000;
    font-size: 6pt ;
}
span.chord-position {
    text-decoration: underline ;
    text-decoration-style: dotted ;

}

div.chords {
    width:100% ;
    clear:both ;
}

ul.chords {
    display: inline ;
    margin:0 ; 
    list-style-type : none ;
    padding: 0 ;
}

li.chords {
    margin-left: 2px ;
    float: left ;
}

ul.chords li.chords {
display:block;
float:left;   
width:100px;
/*background-color:#6495ED;*/
color:black;
text-decoration:none;
text-align:center;
padding:5px;
}

ul.chords {
/*
border-width:2px;
border-style:solid;
border-color:#DCDCDC #696969 #696969 #DCDCDC;  /*pour avoir un effet "outset" avec IE*/
*/
}

img.chord {
    width:2cm ;
}