div.ref-index {

}

td.grille {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center ;
    height:2.5cm ;
    background: #eebbee ;
    width:3.5cm ;
    font-family: "Times New Roman", Times, serif;
    font-size:1cm;
}
table.grille{
    width: 100%;
    table-layout:fixed ;
    empty-cells:hide ;
} 

div.lyrics {
    font-family: "Times New Roman", Times, serif;
    font-size:1cm;
    background: #ffffff ;
}

div.titre-auteur {
    text-align: center ;
    border: 3px dotted black ;
    font-family: "Times New Roman", Times, serif;
    font-size:3cm;
    background: #aaffff ;
}

/*
div.titre {
    text-align: center ;
    border: 3px dotted black ;
    font-family: "Times New Roman", Times, serif;
    font-size:2cm;
    background: #aaffff ;
}
div.auteur {
    font-family: "Times New Roman", Times, serif;
    font-size:2cm;
    background: #aaffaa ;
}
*/

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color:hotpink ;
}

span.index-titre-0 {
    font-family: "Times New Roman", Times, serif;
    font-size:2cm; 
    background: azure ;
}
span.index-auteur-0 {
    font-family: "Times New Roman", Times, serif;
    font-size:1cm;
    background: azure ;

}

span.index-titre-1 {
    font-family: "Times New Roman", Times, serif;
    font-size:2cm; 
    background: PeachPuff;
}
span.index-auteur-1 {
    font-family: "Times New Roman", Times, serif;
    font-size:1cm;
    background:PeachPuff ;

}

span.remarque {
    font-family: "Times New Roman", Times, serif;
    background:#b2beb5 ; /* ashgrey */
    foreground:black ;
    font-style:italic ;
    font-size: 1cm ;
    clear:both ;
}

div.index-entry-0 {
    text-align: left ;
}

div.index-entry-1 {
    text-align: left ;
}

div.nouvelle-initiale {
    foreground: blue ;
    font-family: "Times New Roman", Times, serif;
    font-size:3cm;
    background:white ;
}

div.index-letters {
    font-family: "Times New Roman", Times, serif;
    font-size:1cm;
    background:PeachPuff ;
}
div.index-books {
    font-family: "Times New Roman", Times, serif;
    font-size:1cm;
    background:PeachPuff ;
}

div.tablature {
    white-space: pre ; display: block; unicode-bidi: embed
}

span.chord {
    vertical-align:super ;
    color : red ;
    text-shadow: 2px 2px 8px #FF0000;
    font-size: 0.8cm ;
}
span.chord-position {
    text-decoration: underline ;
    text-decoration-style: dotted ;

}


div.chords {
    width:100% ;
    clear:both ;
}

ul.chords {
    display: inline ;
    margin:0 ; 
    list-style-type : none ;
    padding: 0 ;
}

li.chords {
    margin-left: 2px ;
    float: left ;
}

ul.chords li.chords {
display:block;
float:left;   
width:100px;
/*background-color:#6495ED;*/
color:black;
text-decoration:none;
text-align:center;
padding:50px;
}

ul.chords {
border-width:2px;
border-style:solid;
border-color:#DCDCDC #696969 #696969 #DCDCDC;  /*pour avoir un effet "outset" avec IE*/
}

li.pos-0 {
/*    position:absolute ;*/
    left:0% ;
    float:left ;
}
li.pos-1 {
    left:20% ;
}
li.pos-2 {
    left:20% ;
}
li.pos-3 {
    left:30% ;
}
