*~
*.cmo
*.cmi
*.cmx
*.o
*.html
*.swp
install
bin
OMakefile.omc
OMakeroot.omc
.omakedb
.omakedb.lock
src/OMakefile.omc
src/song-to-html
src/song-to-html.opt
src/make-chord
src/make-chord.opt
src/*.png
src/*.svg

